################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/projet_web_A3-2023/FileContentIndex/b2ff8f64-a5f4-4591-adf0-fd2911b85f57.vsidx
/.vs/projet_web_A3-2023/FileContentIndex/3bb0f40a-545b-4b6c-93cc-72ded4919e8a.vsidx
/.vs/projet_web_A3-2023/FileContentIndex/401c57e4-a87b-437a-985c-617f86dac052.vsidx
/.vs/projet_web_A3-2023/FileContentIndex
